<form id="connect">
    
    <h1><span class="icon-cloud"></span>Connect</h1>
    
    <label>Server:</label>
    <input name="url" placeholder="http://www.server.com">
    
    <label>Key:</label>
    <input name="key" placeholder="API Key">
    
    <button>Connect</button>
    
</form>
